*{
    margin:0;
    padding:0;
}

section{
    width:80%;
    margin:auto;
    margin-top:5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

}

.cards {
    width:300px;
    padding:25px;

}

.cards:hover
{
    box-shadow: 0 10px 10px 10px rbga(0,0,0,0,0.1);
    cursor: pointer;

}

.forimage img
{
    width: 220px;
    height: 250px;

}

.details P:nth-child(2) {
    color: rgb(20, 1, 1);
    font-size:0.8 rem;
    font-weight: 500;

}
 
.details p:nth-child(3){
    font-weight: bolx;
    color:rgb(30, 4, 71);
}

.details button {
    padding: 5px 10px;
    border:none;
    font-weight: bold;
    background-color: rgb(190, 142, 245);
    border-radius: 5%;
    outline: none;
    font-size: 20px;
}

